
html, body {
	border:				0px none;
	margin:				0px;
	padding:			0px;
	width:				100%;
	height:				100%;
	background-color:	#333;
}

#outer {
	position:			absolute;
	display:			block;
	top:				2px;
	left:				2px;
	right:				2px;
	bottom:				2px;
	text-align:			center;
	overflow:			auto;
	border:				0px none;
}

#hcenter {
	display:			inline-table;
	height:				100%;
	border:				0px none;
}

#vcenter {
	border:				0px none;
	display:			table-cell;
	vertical-align:		middle;
}

#canvas {
	border:				0px none;
	position:			relative;
}

#controls {
	position:			fixed;
	z-index:			2;
	right:				20px;
	top:				20px;
	text-align:			right;
}

.button {
	display:			block;
	min-width:			100px;
	margin:				10px;
	border-radius: 		10px;
	background-color: 	rgba(255,255,255,0.5);
	font-family:		sans-serif;
	font-weight:		500;
	color:				black;
	border:				1px solid black;
	cursor:				pointer;
	opacity:			0.5;
	text-align:			center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: 	none;
	-ms-user-select: 	none;
	user-select: 		none;
}

.button.selected {
	background-color: 	rgba(0,255,0,0.7);
}

.button:hover {
	opacity:			1.0;
}

.button ul {
	list-style-type:	none;
	margin:				0px;
	padding:			0px;
	display:			none;
	text-align:			left;
}

.button:hover ul {
	display:block;
}

.button ul li {
	font-size: 			0.8em;
	padding:			0.2em;
	padding-top:		0.5em;
}

#hintsbox {
	display:			none;
	position:			fixed;
	z-index:			2;
	left:				20px;
	right:				20px;
	bottom:				20px;
	min-height:			50px;
	margin:				10px;
	border-radius: 		10px;
	background-color: 	rgba(255,255,255,0.5);
	font-family:		sans-serif;
	font-weight:		500;
	color:				black;
	border:				1px solid black;
	opacity:			0.5;
}
